<div class='admin-product__button__wrapper'>
  <div class='admin-product__button__back'>
    <%= link_to "Quay vá»", admin_show_product_path(@product.id) %>
  </div>
</div>
<%= render partial: "product", locals: {product: @product, path: admin_update_product_path(@product.id), method: :patch} %>
